<div class="container">
  <div class="card" style="width: 24rem;">
      <div class="card-header">
          New Trainee
        </div>
        <div class="card-body">
            <form name="form" (ngSubmit)="add()" #f="ngForm">

                <div class="form group">
                    <label for="exampleFormControlInput1">Trainer Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)] = "trainee.trainee_name">
                    {{trainee.name}}
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Join Date</label>
                  <input type="date" class="form-control" name="joindate" [(ngModel)]="trainee.join_date">
                  {{trainee.joindate}}
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Number of Hours</label>
                  <select class="form-control" name="noh" [(ngModel)]="trainee.no_of_hours">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                  </select>
                  {{trainee.noh}}
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Training Type</label>
                  <select class="form-control" name="type" [(ngModel)]="trainee.training_type">
                      <option>Type-A</option>
                      <option>Type-B</option>
                      <option>Type-C</option>
                    </select>
                    {{trainee.type}}
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Candidate Name </label>
                  <select class="form-control" (input)="onInput($event)" name="candid" [(ngModel)]="trainee.cand_id">
                      <option *ngFor="let trainee of trainees" value={{trainee.reg_id}}>{{ trainee.trainee_name}}</option>
                    </select>
                    <div>{{trainee.candid}}</div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary">Register</button>
              </div>
              </form>
        </div>
      
  </div>
  
</div>

