<h3>Schedule Creation</h3>
<div class="container" style="padding-top: 30px">
  <div class="row">
  <div class="col-6">
<mdb-card>
    <mdb-card-body>
        <mdb-card-title> <h4>Schedule Creation</h4> </mdb-card-title>
  Trainees: 
  <select class="form-control" (input)="onInput($event)" name="traineeid" [(ngModel)]="tempschedule.trainee">
    <option *ngFor="let trainee of trainees" [ngValue]="trainee">{{ trainee.trainee_name}}</option>
  </select>

  
  <br>
  Trainers: 
   
  <select class="form-control" (input)="onInput($event)" name="trainerid" [(ngModel)]="tempschedule.trainer">
    <option *ngFor="let trainer of trainers" [ngValue]="trainer">{{ trainer.trainer_name}}</option>
  </select>
  
  <br>
  
  Vehicles:
  <select class="form-control" (input)="onInput($event)" name="vehicleid" [(ngModel)]="tempschedule.vehicle">
    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{ vehicle.description }}<span> {{vehicle.v_reg }}</span></option>
  </select>
  
  <br>
  
  StartTime:
  <input class="form-control" type="time" id="StartTime" [(ngModel)]="tempschedule.stime"/>
  <br>
  EndTime:
  <input class="form-control" type="time" id="EndTime" [(ngModel)]="tempschedule.etime"/>
  
  Date: 
  <input class="form-control" type="date" id="date" [(ngModel)]="tempschedule.date"/>
  
  <div class="buttun-group">
      <button class="btn btn-warning" (click)='addData()' >Add</button>
      <button class="btn btn-success" (click)="showData()">ShowData</button>
  </div>
</mdb-card-body>
</mdb-card>
</div>

  <div class="col-6">
    
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">TrainerName</th>
        <th scope="col">TraineeName</th>
        <th scope="col">StartTime</th>
        <th scope="col">EndTime</th>
        <th scope="col">Vehicle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules"  class=" table table-success table-striped">
        <td>{{ schedule.date }}</td>
        <td>{{ schedule.trainer.trainer_name }}</td>
        <td>{{ schedule.trainee.trainee_name }}</td>
        <td>{{ schedule.stime }}</td>
        <td>{{ schedule.etime }}</td>
        <td>{{ schedule.vehicle.v_reg }}</td>
      </tr>
    </tbody>
  </table>
  </div>
 </div>
</div>
