
<div class="container">
  <p>
    trainer works!
  </p>
  
  <ul class="heroes">

      <li *ngFor="let trainer of trainers">
          <a (click)="edit(trainer)">
            <span class="badge">{{ trainer.trainer_id }}</span>
            <span *ngIf="trainer!==editTrainer">{{trainer.trainer_name}}</span>
            <!--<input *ngIf="trainer===editTrainer" [(ngModel)]="trainer.trainer_name"
              (blur)="update()" (keyup.enter)="update()">-->
          </a>
       <span> <button class="btn btn-danger" title="delete hero"
        (click)="delete(trainer)">x</button></span>
      </li>

  </ul>

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Trainer Name</label>
      <input type="text" class="form-control" #trainerName>
    </div>
   <a class="btn btn-success" (click)="add(trainerName.value); trainerName.value=''"> AddNew Trainer</a>
  </form>
</div>