<!-- #region Admin NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf='RoleId == 1'>
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <a class="navbar-brand" routerLink="/schedule"> Schedule </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="trainer" routerLinkActive="active">Trainer</a>
        </li>
        <li class="nav-item">
            <a routerLink="trainee" routerLinkActive="active">Trainee</a>
        </li>
        <li class="nav-item">
            <a routerLink="candidate" routerLinkActive="active">Candidate</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="vehicle" routerLinkActive="active">Vehicle</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="owner" routerLinkActive="active">Owner</a>
        </li>
        <!-- <li class="nav-item"> 
          <a routerLink="paymenttype" routerLinkActive="active">Payment Type</a>
        </li> -->
       </ul>
      
    </div>
    <a class="navbar-nav" style="background-color:burlywood" (click)="LogOut()">LogOut</a>
  </nav>
   <!-- #endregion -->
<!-- #region Trainer Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf='RoleId == 3'>
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="trainee" routerLinkActive="active">Trainee</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="vehicle" routerLinkActive="active">Vehicle</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="owner" routerLinkActive="active">Owner</a>
        </li>
       </ul>
    </div>
    <a class="navbar-nav" style="background-color:burlywood" (click)="LogOut()">LogOut</a>
  </nav>
   <!-- #endregion -->
<!-- #region Trainee NavBar -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf='RoleId == 2'>
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="trainer" routerLinkActive="active">Trainer</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="vehicle" routerLinkActive="active">Vehicle</a>
        </li>
       </ul>
      
    </div>
    <a class="navbar-nav" style="background-color:burlywood" (click)="LogOut()">LogOut</a>
  </nav>
  <!-- #endregion -->
<br>

<!-- {{RoleId}}
{{userId}}
{{isLoggedIn}} -->
<!-- #region Staff Schedule View-->
<div *ngIf='loading'>
  <img src="assets/SpinLoader.gif" width="50" alt="" id="loader">
</div>
<div class="container" *ngIf='isHome && RoleId ==1'>
  <button class="btn btn-primary" (click)="loadData()">ShowSchedule</button>
  <br/>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">TrainerName</th>
            <th scope="col">TraineeName</th>
            <th scope="col">StartTime</th>
            <th scope="col">EndTime</th>
            <th scope="col">Vehicle</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let schedule of schedules"  class=" table table-success table-striped">
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.trainer_name }}</td>
            <td>{{ schedule.trainee_name }}</td>
            <td>{{ schedule['start-time'] }}</td>
            <td>{{ schedule['end-time'] }}</td>
            <td>{{ schedule.v_reg }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- #endregion -->
<!-- #region Trainer Schedule View-->
<h1 *ngIf='isHome && RoleId == 3 '>Todays Schedule For Trainer</h1>
<div *ngIf='loading'>
  <img src="assets/SpinLoader.gif" width="50" alt="" id="loader">
</div>
<div class="container" *ngIf="isHome && RoleId == 3">
  <button class="btn btn-primary" (click)="loadData()">ShowSchedule</button>
  <br/>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">TraineeName</th>
            <th scope="col">StartTime</th>
            <th scope="col">EndTime</th>
            <th scope="col">Vehicle</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let schedule of scheduleForTrainer"  class=" table table-success table-striped">
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.trainee_name }}</td>
            <td>{{ schedule['start-time'] }}</td>
            <td>{{ schedule['end-time'] }}</td>
            <td>{{ schedule.v_reg }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- #endregion -->
<!-- #region Trainee Schedule View-->
<div *ngIf='loading'>
  <img src="assets/SpinLoader.gif" width="50" alt="" id="loader">
</div>

<div class="container" *ngIf="isHome && RoleId==2">
    <button class="btn btn-primary" (click)="loadData()">ShowSchedule</button>
  <br/>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">TrainerName</th>
            <th scope="col">StartTime</th>
            <th scope="col">EndTime</th>
            <th scope="col">Vehicle</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let schedule of schedules"  class=" table table-success table-striped">
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.trainer_name }}</td>
            <td>{{ schedule['start-time'] }}</td>
            <td>{{ schedule['end-time'] }}</td>
            <td>{{ schedule.v_reg }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- #endregion -->

<!-- #region Router Outlet-->
<router-outlet></router-outlet>
<!-- #endregion -->