<div class="container">
    <div class="card" style="width: 24rem;">
        <div class="card-header">
            New Vehicle
            <li *ngFor="let owner of owners">
                <a>{{owner.owner_id}}</a>
                <a>{{owner.owner_name}}</a>
            </li>
          </div>
          <div class="card-body">
              <form name="form" (ngSubmit)="add()" #f="ngForm">
  
                  <div class="form group">
                      <label for="exampleFormControlInput1">Owner Name</label>

                      <select class="form-control" (input)="onInput($event)" name="candid" [(ngModel)]="vehicle.owner_id">
                        <option *ngFor="let owner of owners" value={{owner.owner_id}}>{{ owner.owner_name}}</option>
                      </select>

                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input type="text" class="form-control" name="desc" [(ngModel)]="vehicle.description">
                    
                  </div>
                  <div class="form-group">
                      <label for="exampleFormControlInput1">RegID</label>
                      <input type="text" class="form-control" name="reg" [(ngModel)]="vehicle.v_reg">
                      <h5 ng-bind="regid"></h5>
                    </div>
                  <h5>{{vehicle.v_reg}}{{vehicle.description}}{{vehicle.owner_id}}</h5>
                  <button class="btn btn-success"> AddNew Vehicle</button>
                </form>
          </div>
        
    </div>
    
  </div>