<nav>
  
  
  
  
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="trainer" routerLinkActive="active">Trainer</a>
        </li>
        <li class="nav-item">
            <a routerLink="trainee" routerLinkActive="active">Trainee</a>
        </li>
        <li class="nav-item">
            <a routerLink="candidate" routerLinkActive="active">Candidate</a>
        </li>
        <li class="nav-item"> 
          <a routerLink="vehicle" routerLinkActive="active">Vehicle</a>
        </li>
        <li class="nav-item"> 
            <a routerLink="scedule" routerLinkActive="active">Schedule</a>
          </li>
      </ul>
    </div>
  </nav>

<h3>Router Outlet would appear here !</h3>
<router-outlet></router-outlet>